# Ignore node_modules directory
node_modules/

# Ignore compiled binaries
*.exe
*.dll

# Ignore editor-specific files
.vscode/

#.gitignore

.frontend_fib_nums/node_modules/

.cz-biohub-env

.first_n_fib_nums/db.sqlite3

.first_n_fib_nums/fib_webapp/__pycache__/

.first_n_fib_nums/fib_webapp/migrations/

.first_n_fib_nums/first_n_fib_nums/__pycache__/